<div class="container" style="margin-bottom: 50px;">
    <h2 class="center">¿Que es este proyecto?</h2>
    <hr>
    <div class="center">
        <p>Este proyecto es una wikia / wiki automatizada que se actualiza conforme vayan saliendo nuevos servants en el juego, este proyecto se puede realizar 
            gracias a <b>Atlas Academy</b> mediante el uso de su api.</p>
            <a class="waves-effect waves-light btn">Mas Informacion</a>
    </div>
</div>