<div class="">
    <nav style="background-color: #7289DA;">
    <div class="nav-wrapper" style="z-index: 2;">
        <a href="/" id="logoProyecto"class="brand-logo center"><img style="
        height: 100px;
        text-align: center;
        vertical-align: middle;" src="https://cdn.discordapp.com/attachments/722063704882937868/825544321692467240/1616895427942.png"></a>
        <ul id="nav-mobile" class="left hide-on-med-and-down">
            <li><a href="/servants">Servants</a></li>
            <li><a href="badges.html">Components</a></li>
            <li><a href="collapsible.html">JavaScript</a></li>
        </ul>
    </div>
</nav>
</div>