<div>
    <nav style="background-color: #7289DA;">
    <div class="nav-wrapper" style="z-index: 2;">
        <a href="/" id="logoProyecto"class="brand-logo center"><img style="
        height: 100px;
        text-align: center;
        vertical-align: middle;" src="/images/logo.png"></a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul id="nav-mobile" class="left hide-on-med-and-down">
            <li><a href="/">Inicio</a></li>
            <li><a href="/servants">Servants</a></li>
        </ul>
    </div>
</nav>
{{!-- Componenete del navbar del mobile  --}}
<ul class="sidenav" id="mobile-demo">
    <li><a href="/">Inicio</a></li>
    <li><a href="/servants">Servants</a></li>
</ul>
</div>