<div style="
height: 400px; 
background-image: url(https://wallpaperaccess.com/full/1328652.jpg);
background-size: cover;
background-position: center;
-webkit-box-shadow: inset 0px 0px 17px 0px rgba(0,0,0,0.75);
-moz-box-shadow: inset 0px 0px 17px 0px rgba(0,0,0,0.75);
box-shadow: inset 0px 0px 17px 0px rgba(0,0,0,0.75);
">


</div>
<div class="nav-wrapper" style="
    position: absolute;
    top: 250px;
    background: white;
    width: 50%;
    padding: 5px;
    margin-left: 25%;">
    <div class="input-field">
        <input id="autocomplete-input" class="autocomplete" placeholder="Altria Pendragon" type="search">
        <label class="label-icon" for="autocomplete-input"></label>
    </div>
</div>