<div style="display: none;" id="page">
    {{> servant/MainTabs }}
</div>
<div id="preload" style="text-align: center;">
    <img src="{{> loader/icon }}">
    <hr>
    <span id="textLoader">
        FOU FOUUU FO FOUU FOUUU FOOOOOOUUU!!!<br>
        El sistema esta cargando, espera o te pateo como a Merlin.
    </span>
</div>
<input type="text" value="{{ascension}}" id="ascension" hidden>
<script src="/js/service/preloadImage.js"></script>
<script>
    const ImagesDataInput = document.getElementById('ascension');
    const ImagesDataToString = ImagesDataInput.value
    const ImagesDataToArray = ImagesDataToString.split(',');
    var isLoaded = false;

    window.onload = preloadImages(ImagesDataToArray, async () => {
        $('#preload').fadeOut(1000)
        $('#page').fadeIn(2000)
    })
</script>