<div>
    {{#each stats.decks.card}}
        <span class="command-card" style="height: 60px;">
        <img loading="lazy" alt="" class="command-card-ratio"
            src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7">
        <img loading="lazy" alt="" class="command-card-bg" src="/images/card_bg_{{this.card}}.png">
        <img loading="lazy" alt="" class="command-card-portrait"
            src="{{this.face}}">
        <img loading="lazy" alt="" class="command-card-icon" src="/images/card_icon_{{this.card}}.png">
        <img loading="lazy" class="command-card-text-card" alt="" src="/images/card_txt_{{this.card}}.png">
    </span>
    {{/each}}
</div>