<div style="filter:drop-shadow(0px 0px 1px black);">
    <ul class="tabs" style="overflow: hidden;">
        <li class="tab col s3"><a href="#stats">Stats</a></li>
        <li class="tab col s3"><a href="#skills">Habilidades</a></li>
        <li class="tab col s3"><a href="#np">Noble Phantasm</a></li>
    </ul>
</div>
<div id="stats">
    {{> servant/ServantStats }}
</div>
<div id="skills">
    {{> servant/Tabs }}
</div>
<div id="np">
    {{> servant/np }}
</div>